.select_sous {
    background: #f1c121;
    color: red;
}

.article_btp {
    padding-bottom: 5%;
}

.active_icon {
    background-image: url(../img/roundedback.png);
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    // margin: auto;
    opacity: 1;

}

.test {
    display: inline-block;
}

.icon_btp {
    padding: 0;
    padding-bottom: 5px;
    margin: 25px;
    margin-bottom: 0;
}

.test_icon {
    color: #555858;
    font-family: 'Montserrat', sans-serif
}