.enginTitle {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin-top: 7%;
    margin-left: 30%;
    position: relative;
    z-index: 5;
    color: #2c2c2c;
}


.engin_text {
    margin-top: 5%;
    color: #2c2c2c;
    font-family: "Montserrat", sans-serif;
}

.stripe_engin {
    width: 45%;
    position: absolute;
    right: 70%;
    z-index: 4;
}

.engin_title {
    position: relative;
    z-index: 5;
    font-size: 2rem;
}

.nosengins {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    background: #fff;
}

.icon {
    width: 75%;
    display: inline-block;
    overflow-y: hidden;
    // justify-content: space-between;
}

.icon_engin {
    margin-top: 2%;
}


@media only screen and (max-width: 990px) {
    .stripe_engin {
        display: none;
    }

    .enginTitle {
        justify-content: center;
        margin-left: 0;
    }

    .icon {
        margin-top: 5%;
    }
}