

.mainHeader {
    width: 100%;
    height: 90px;
    background-color: #2b356e;
    position: relative;
    z-index: 2;
}

.logo {
    width: 30%;
    margin-top: 0;
    height: 100%;
    position: relative;
    z-index: 5;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 3%;
    
    .nav-items {
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        margin-right: 25px;
        a {
            color: #f9c121;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            margin-right: 25px;
            display: block;
            &:hover {
                color: white;
                transition: color .3s ease-in;
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: center;

}

.submenu {
    list-style: none;
    margin-top: 10px;
    position: absolute;
    float: none;
}

.submenu-transport {
    list-style: none;
    margin-top: 10px;
    position: absolute;
    float: none;
}

.submenu-agricole {
    list-style: none;
    margin-top: 10px;
    position: absolute;
    float: none;
}

.menu-deroulant {
    background: hsl(44, 95%, 55%);
    z-index: 1000;
    margin-top: 2%;
    // width: 150px;
    display: block;
    position: absolute;
    padding-left: 3px;
    .submenu, .submenu a {
        color: #fff;
        padding-top: 1px;
        position: relative;
        // margin-left: 3px;
        float: none;
        // &:last-child {
        //     padding-bottom: 5px;
        // }
        &:hover {
            color: #2b356e;
            transition: color .3s ease-in;
            float: none;
        }
    }
}

.menu-deroulant-transport {
    background: hsl(44, 95%, 55%);
    z-index: 1000;
    margin-top: 2%;
    // width: 150px;
    display: block;
    position: absolute;
    padding-left: 3px;
    .submenu-transport, .submenu-transport a {
        color: #fff;
        padding-top: 1px;
        position: relative;
        // margin-left: 3px;
        float: none;
        // &:last-child {
        //     padding-bottom: 5px;
        // }
        &:hover {
            color: #2b356e;
            transition: color .3s ease-in;
            float: none;
        }
    }
}

.menu-deroulant-agricole {
    background: hsl(44, 95%, 55%);
    z-index: 1000;
    margin-top: 2%;
    // width: 150px;
    display: block;
    position: absolute;
    padding-left: 3px;
    .submenu-agricole, .submenu-agricole a {
        color: #fff;
        padding-top: 1px;
        position: relative;
        // margin-left: 3px;
        float: none;
        // &:last-child {
        //     padding-bottom: 5px;
        // }
        &:hover {
            color: #2b356e;
            transition: color .3s ease-in;
            float: none;
        }
    }
}

.last-item {
    padding-bottom: 10px;
}

.submene.hr {
    margin: 0;
    padding: 0;
    width: 90%;
}

.btnMenu {
    display: none;
}

.overlayMenu {
    height: 70vh;
    background: #2b356e;
    transition: top 0.4s ease-in-out;
    width: 75%;
    position: absolute;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: -9999px;
    ul {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        // margin-left: 50%;
        li {
            margin-top: 10%;
            font-size: 25px;
        }
    }
}

.overlayMenu.active {
    transition: top 0.4s ease-in-out;
    top: 0;
}

@media only screen and (max-width: 1190px) {
    .navbar-nav {
        display: none;
    } 
    
    .btnMenu {
        display: flex;
        color: #f9c121;
        font-size: 30px;
        position: relative;
        z-index: 4;
    } i {
        margin: auto;
    }

    .overlayMenu {
        display: flex;
    }
}

@media only screen and (max-width: 770px) {
    .logo {
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 50%;
    }
}

@media only screen and (max-width: 380px) {
    .logo {
        width: 60%;
    }
}

@media only screen and (max-width: 970px) {
    .logo {
       justify-content: left;
    }


}

// .mobile a {
//     font-size: 20px;
// }

.mobile {
    margin: auto
}


