@import 'vars';
@import 'header';
@import 'slideHome';
@import 'welcome';
@import 'map';
@import "marque";
@import 'engin';
@import 'new';
@import 'actu';
@import 'btp';
@import 'picto';
@import 'contact';
@import 'financement';
@import 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.picto_section {
    position: relative;
    z-index: 1;
}


html {
    margin: 0;
    padding: 0;
}




